.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
NTUSER.*
desktop.ini
*.log
*.tmp
*.bak
*.swp
*.suo
*.user
*.db
*.orig
*.rej
.gradle/
build/
out/
logs/
tmp/
*.class
*.jar
*.war
*.ear
*.bat
*.sh
.settings/
.classpath
.project
*.ipynb_checkpoints